{
  "prettier.arrowParens": "avoid",
  "prettier.jsxBracketSameLine": true,
  "prettier.jsxSingleQuote": true,
  "prettier.quoteProps": "consistent",
  "prettier.semi": false,
  "prettier.singleQuote": true
}
